---
import { Icon } from 'astro-icon/components';
import styles from './Footer.module.scss';

const currentYear = new Date().getFullYear();

const socialLinks = [
  { href: 'https://www.instagram.com/jany_korky/', label: 'Instagram', iconName: 'lucide:instagram' },
  { href: 'https://www.linkedin.com/in/j%C3%A1n-korko%C5%A1-909781172/', label: 'LinkedIn', iconName: 'lucide:linkedin' },
  { href: 'https://github.com/jkorky', label: 'GitHub', iconName: 'lucide:github' }
];
---

<footer class={styles.Footer}>
  <div class={styles.Footer__social}>
    {socialLinks.map(({ href, label, iconName }) => (
      <a
        href={href}
        target="_blank"
        rel="noopener noreferrer"
        aria-label={label}
      >
        <Icon name={iconName} size={24} />
      </a>
    ))}
  </div>
  <p class={styles.Footer__copyright}>
    © {currentYear} Ján Korkoš
  </p>
</footer>
